*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    margin: 2px;
    border: 1px solid blue;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2px;
    row-gap: 2px;
    

    
}
.child-1{
    width: 100%;
    height: 400px;
    border: 2px solid black;
}
.picture-1{
    width:100%;
    height: 400px;
    border: 2px solid;
}
.child-2{
    width: 100%;
    height: 400px;
    border: 2px solid;
    
}
.picture-2{
    width: 100%;
    height: 400px;
    border: 2px solid black;
}
img{
    height: 400px;
    width: 100%;
}


